.Home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@keyframes Logo-Fade-In {
    from {opacity: 0;}
    to {opacity: 100;}
}


@keyframes Arrow-Fade-Transform{
    from {opacity: 0;}
    to {opacity: 100;}
}

@keyframes Arrow-Translate-Transform{
    from{transform: translatey(0);}
    to{transform: translatey(3rem);}
}



//use useeffect to initially load this image with 0 opacity. on load change it to 100% opacity, should fix issue

.Logo{
    width: 60rem;
    animation-name: Logo-Fade-In;
    animation-timing-function: cubic-bezier(0.96, -0.02, 0.22, 0.91);
    animation-duration: 5s;
    animation-iteration-count: 1;
}

.Arrow{
    height: 7rem;
    animation-name: Arrow-Fade-Transform, Arrow-Translate-Transform;
    opacity: 0;
    animation-duration: 1s, 1s;
    animation-timing-function: ease-in-out, cubic-bezier(0.57, 0.09, 1, 0.83);
    animation-iteration-count: infinite;
    animation-direction: alternate, alternate-reverse;
    animation-delay: 6s, 5s;


}