.home {
    // height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  @keyframes logo-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes arrow-fade-transform {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes arrow-translate-transform {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(3rem);
    }
  }
  
  .logo-container {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 200vw;
    align-items: center;
    justify-content: center;
  }
  
  .logo-sigil {
    width: 55vw;
    position: relative;
    animation-name: logo-fade-in;
    animation-timing-function: cubic-bezier(0.96, -0.02, 0.22, 0.91);
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
  
  .logo-systems {
    width: 55vw;
    position: absolute;
    animation-name: logo-fade-in;
    animation-timing-function: cubic-bezier(0.96, -0.02, 0.22, 0.91);
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
  
  .logo-slide-sigil {
    width: 55vw;
    position: relative;
    transform: translateX(0);
    animation-name: sigil-translate;
    animation-timing-function: cubic-bezier(0.96, -0.02, 0.22, 0.91);
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
  
  .logo-slide-systems {
    width: 55vw;
    position: absolute;
    transform: translateX(0);
    animation-name: systems-translate;
    animation-timing-function: cubic-bezier(0.96, -0.02, 0.22, 0.91);
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
  
  .arrow {
    height: 6rem;
    animation-name: arrow-fade-transform, arrow-translate-transform;
    opacity: 0;
    animation-duration: 1s, 1s;
    animation-timing-function: ease-in-out, cubic-bezier(0.57, 0.09, 1, 0.83);
    animation-iteration-count: infinite;
    animation-direction: alternate, alternate-reverse;
    animation-delay: 6s, 5s;
  }
  

  .description-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 40vw;
  }